{% extends '/layouts/common.twig' %}

{% block content %}
     <div class="header">
    	<h1>Онлайн запись на прием к врачу</h1>
    </div>
    
    <div class="container">
    	<div class="container-top">

        </div>
        
        <div class="stepsForm">
            {% set form = this.beginWidget('CActiveForm', { id: 'BookingForm', enableAjaxValidation: false  }) %}
                <div class="sf-steps">
                    <div class="sf-steps-content">
                    	<div>
                        	<span>1</span> Доктор
                        </div>
                        <div>
                        	<span>2</span> Дата и время
                        </div>
                        <div>
                        	<span>3</span> Ваши контакты
                        </div>
                    </div>
                </div>        
                
                
                <div class="sf-steps-form sf-radius"> 
                           
                    <ul class="sf-content">
                        {{ include('form/select.twig', { form: form, model: model, field: 'specializeId', data: specialize, isRequired: true }) }}
                        {{ include('form/select.twig', { form: form, model: model, field: 'hospitalId', data: {}, inVisible: true }) }}
                        {{ include('form/select.twig', { form: form, model: model, field: 'doctorId', data: {}, inVisible: true }) }}
                    </ul>
                       
                    <ul class="sf-content">
                        {{ include('form/calendar.twig') }}
                        {{ include('form/hidden.twig', { form: form, model: model, field: 'date' }) }}
                        {{ include('form/select.twig', { form: form, model: model, field: 'time', data: {}, inVisible: true, isRequired: true }) }}  
                    </ul>
    
                    <ul class="sf-content">
                        {{ include('form/text.twig', { form: form, model: model, field: 'name' }) }}
                        {{ include('form/email.twig', { form: form, model: model, field: 'email' }) }}
                        {{ include('form/text.twig', { form: form, model: model, field: 'phone' }) }}
                    </ul>
                           
                </div>
                
                <div class="sf-steps-navigation sf-align-right">
                	<span id="sf-msg" class="sf-msg-error"></span>
                	<button id="sf-prev" type="button" class="sf-button">Назад</button>
                        <button id="sf-next" type="button" class="sf-button">Далее</button>
                </div>
            {% do this.endWidget() %}
        </div>
       
    </div>
    

{% endblock %}
